<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uw.elfbowl">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="uw.elfbowl.main.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uw.elfbowl.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uw.elfbowl.main.PlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="uw.elfbowl.main.ScoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!--live admob id = ca-app-pub-4136106796733611~8269280250-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4136106796733611~8269280250"/>

    </application>

</manifest>
